// Colors
$black: #000;
$darkGray: #92979B;
$darkerGray: $darkGray;
$gray: #D5D7D8;
$lightGray: #eee;
$white: #fff;
$borderColor: #36393a;

// Font stacks
$roboto: 'Roboto', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}